
.load{
 background:silver ;
 position: absolute;
 display: flex;
 align-items: center;
 justify-content: center;
 backdrop-filter: blur(4px);
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
}
/* absolute inset-0 bg-slate-200/20 backdrop-blur-sm flex items-center justify-center */