.backTotop{
 background-color: transparent;
 border: none;
 padding: 0.5rem;
 border-radius: 0.6rem;
width: 100%;
cursor: pointer;
color: blueviolet;
text-transform: capitalize;
font-weight: 600;
transition: all 1s linear;

}


.backTotopCon{
 text-align: center;
text-transform: capitalize;
}