.backTotop{
 background-color: blueviolet;
 border: none;
 padding: 0.5rem;
 border-radius: 0.6rem;
width: 100%;
cursor: pointer;
transition: all 1s linear;

}

.backTotop:hover{
  background-color: rgb(150, 107, 190);
}
.backTotopCon{
 text-align: center;
text-transform: capitalize;
}