

  /* ============= */
/* variables */
/* ================== */
:root{
 /* light shades for primary color == */
 --clr-primary-1:#efeef2;
 --clr-primary-2:#dedde5;
 --clr-primary-3:#ceccd9;
 --clr-primary-4:#41423f;
 /* primary main color */
 --clr-primary-5:#12130f;
 /* lighter shades of primary color */
 --clr-primary-6:#0e0f0c;
 --clr-primary-7:#0b0b09;
 --clr-primary-8:#45444c;
 --clr-primary-9:#232226;
/* darkest grey used for heading */
 --clr-grey-1:hsl(209, 61%, 16%);
 --clr-grey-2:hsl(185, 84%, 25%);
 --clr-grey-3:hsl(185, 84%, 25%);
 --clr-grey-4:hsl(185, 81%, 29%);
/* grey used for paragraph*/
 --clr-grey-5:hsl(210, 22%, 49%);
 --clr-grey-6:hsl(185, 84%, 25%);
 --clr-grey-7:hsl(185, 81%, 29%);
 --clr-grey-8:hsl(210, 31%, 80%);
 --clr-grey-9:hsl(210, 31%, 80%);
 --clr-grey-10:hsl(0, 0%, 89%);
 --clr-white:#fff;
 --ff-primary:"Oswald", sans-serif;
 /* --ff-secondary:'Bebas Neue', sans-serif; */
  --headingfont: 'Rufina', serif;
 --bodyfont:  'Actor', sans-serif;
 --spacing:0.3rem;
 --transition:all 0.3s linear;
 --border-radius:0.8rem;
 --light-shadow:0 5px 15px rgba(0, 0, 0, 0.1);
 --dark-shadow:0 5px 15px rgba(0, 0, 0, 0.2);
}
*,::after,::before{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
ul{
 list-style-type: none;
}
body{
  /* font-family: var(--ff-primary); */
  line-height: 1.5;
  background: var(--clr-white);
  color: var(--clr-grey-1);
  font-size: 0.875rem;
}
img:not(.nav-logo){
  width: 100%;
  display: block;
}
.nav-logo{
 height: 3rem;
width: 13rem;
-o-object-fit: cover;
   object-fit: cover;
}
a{
  text-decoration: none;
}
h1,h2,h3,h4{
  font-family:  "Oswald", sans-serif;
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.2;
  margin-bottom: 0.7rem;
}
h1{
  font-size: 3rem;
}
h2{
  font-size: 2rem;
}
h3{
  font-size: 1.2rem;
}
h4{
  font-size: 1rem;
}
p{
  margin-bottom: 1.2rem;
  /* max-width: 35rem; */
}
@media screen and (min-width:900px){
  h1{
    font-size:4rem ;
  }
  h2{
    font-size:3rem ;
  }
  h3{
    font-size:2rem ;
  }
  h4{
    font-size:1rem ;
  }
  body{
    font-size: 1rem;
  }
  h1,h2,h3,h4{
    line-height: 1;
  }
}



 .loader {
  width: 45px;
  aspect-ratio: 0.75;
  --c: no-repeat linear-gradient(#deec16 0 0);
  background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
  background-size: 20% 50%;
  animation: loading 1s infinite linear;
}

@keyframes loading {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}


/* header{
  height: calc(100vh - 4rem);
} */
